<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/estilo.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>Site de Notícias</title>
</head>

<body>
	<div id="container" style="background-color: #D2B48C;">
		<header class="row text-center">
			<div style="background-color: #DAA520;">
				<h1>Notícias</h1>
				<p class="lead">O melhor site de notícias da região!!</p>
			</div>
		</header>
  
  <div class="row">
  <a href="/listagem">Lista de Notícias</a>
  </div>

		<div class="row mt-4" style="background-color: #DAA520;">
			<footer class="text-center">
				INFO 4B IFMS 2021 - Nenhum direito reservado
			</footer>
		</div>
	</div>
</body>

</html>