<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/estilo.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>Site de Notícias</title>
</head>

<body>
	<div id="container" style="background-color: #D2B48C;">
		<header class="row text-center">
			<div style="background-color: #DAA520;">
				<h1>Notícias.com</h1>
				<p class="lead">O melhor site de notícias da região!!</p>
			</div>
		</header>
  
 <div class="row text-center p-5">
				<h1 class="mt-1">Para adaptação climática, aves levam sementes para a direção errada</h1>
        <small class="text-muted">Plantas dependem da migração de pássaros para a dispersão de sementes em regiões distantes </small> 

        <h6 class="mt-4">Por Jennifer Ann Thomas Atualizado em 6 jul 2021, 13h09 - Publicado em 28 jun 2021, 09h30</h6>

        <div class="h-100 mt-4">
            <img src="https://veja.abril.com.br/wp-content/uploads/2021/06/268620_web.jpg?quality=70&strip=info&resize=680,453" class="img-top">
        </div>

				<p class="text-center mt-4">Para chegar a um compromisso no horário certo, há momentos em que chamar um transporte particular será a opção mais rápida e confiável – a não ser que o motorista erre o caminho. Para algumas espécies de plantas, que dependem de aves migratórias para a dispersão de sementes em longas distâncias, a carona está na contramão do que elas precisam para se adaptarem ao aquecimento global.</p>

        <p class="text-center mt-4">Desde o período pré-industrial, a temperatura do planeta aumentou cerca de 1,1ºC. Em um estudo publicado recentemente na revista científica Nature, 18 pesquisadores de 13 instituições europeias afirmaram que há uma tendência entre aves migratórias que é contraproducente para a adaptação de plantas às mudanças climáticas.</p>

        <p class="text-center mt-4">De acordo com a pesquisa, aves migratórias estão carregando a maior parte de sementes para a direção errada, ao considerar qual seria o movimento necessário para que as plantas consigam se adaptar ao clima. A maior parte das plantas está sendo dispersada por aves que migram para regiões mais quentes ao sul da Europa, enquanto há menos indivíduos que estão realizando o mesmo trabalho de migração para o norte, que tem temperaturas mais baixas.</p>

        <p class="text-center mt-4">Segundo o primeiro autor do estudo, Juan Pedro González-Varo, da Universidade de Cádiz, na Espanha, “a mudança climática contemporânea é tão rápida que muitas plantas precisam que suas sementes sejam dispersadas a distâncias muito maiores do que o comum”. “Este é o ponto em que aves migratórias podem ter um papel importante, pois são capazes de dispersar sementes ao longo de dezenas de quilômetros. Com a pesquisa, buscamos entender o potencial que as espécies de plantas têm de chegar às áreas favoráveis de sobrevivência no futuro pela ação de aves migratórias”, afirmou.</p>

        <p class="text-center mt-4">Como consequência do aquecimento global, espécies estão procurando condições ideais de sobrevivência em regiões mais frias, o que gera uma redistribuição necessária da vida na Terra. Contudo, as plantas não têm mobilidade sozinhas e dependem da ação de animais para que as suas sementes sejam levadas a longas distâncias.</p>

        <p class="text-center mt-4">A pesquisa teve como foco as espécies que consomem frutos e espalham sementes. São aves como os robins (também conhecidos como tordo-americano), blackcaps, melros e várias espécies de tordos, que em geral são abundantes no continente europeu.</p>

        <p class="text-center mt-4">Além disso, foram analisadas as informações sobre os períodos de frutificação das plantas e os padrões migratórios das aves, para identificar qual era o potencial de dispersão em grandes distâncias nas regiões mais quentes ou frias. Os pesquisadores coletaram dados sobre 13 regiões de florestas, o que incluiu 949 interações entre 46 aves e 81 espécies de plantas.</p>

        <p class="text-center mt-4">Como resultado, os cientistas concluíram que apenas 35% das plantas dessas comunidades foram levadas por pássaros que migraram para a região norte durante a primavera. Ao mesmo tempo, 86% das espécies foram levadas para regiões mais quentes durante o outono — a soma dos índices é maior do que 100% porque algumas sementes foram levadas tanto para o norte, quanto para o sul.</p>
  </div>

  <div class="row center p-2 m-5">
   <a href="/" class="btn btn-outline-secondary medio">Voltar a página inicial</a>
  </div>

  <div class="row center p-2 m-5">
   <a href="/listagem" class="btn btn-outline-secondary medio">Voltar a lista de notícias</a>
  </div>

		<div class="row mt-4" style="background-color: #DAA520;">
			<footer class="text-center">
				INFO 4B IFMS 2021 - Nenhum direito reservado
			</footer>
		</div>
	</div>
</body>

</html>