<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/estilo.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>Site de Notícias</title>
</head>

<body>
	<div id="container" style="background-color: #D2B48C;">
		<header class="row text-center">
			<div style="background-color: #DAA520;">
				<h1>Notícias.com</h1>
				<p class="lead">O melhor site de notícias da região!!</p>
			</div>
		</header>
    
    <div class="row">
            <h2 class="p-5 text-center">Últimas Notícias</h2>

            <div class="col-6 col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://veja.abril.com.br/wp-content/uploads/2021/04/megafauna.jpg?quality=70&strip=info&resize=680,453" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Mercado de livros cresce quase 40% e fatura R$ 1,3 bi desde início do ano.</p>
                        <a href="/noticia1">Ir para a notícia</a>
                    </div>
                </div>
            </div>

        <div class="col-6 col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://veja.abril.com.br/wp-content/uploads/2021/06/268620_web.jpg?quality=70&strip=info&resize=680,453" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Para adaptação climática, aves levam sementes para a direção errada.</p>
                    <a href="/noticia2">Ir para a notícia</a>
                </div>
            </div>
        </div>

            <div class="col-6 col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://veja.abril.com.br/wp-content/uploads/2021/08/travelling-equipments-and-glass-jar-with-coins-on-vintage-map.jpg?quality=70&strip=info&resize=680,453" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Autor norueguês conta as histórias de 50 países que deixaram de existir .</p>
                        <a href="/noticia3">Ir para a notícia</a>
                    </div>
                </div>
            </div>

        <div class="col-6 col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://veja.abril.com.br/wp-content/uploads/2016/05/mata-atlantica-vegetacao20070426-78-original3.jpeg?quality=70&strip=info&resize=680,453" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Projeto na Mata Atlântica do Rio comemora nascimento raro.</p>
                    <a href="/noticia4">Ir para a notícia</a>
                </div>
            </div>
        </div>


        <div class="col-6 col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://veja.abril.com.br/wp-content/uploads/2019/05/great-barrier-reef-australia-5.jpg.jpg?quality=70&strip=info&resize=680,453" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Pesquisa mostra desafios para uma economia dos oceanos sustentável.</p>
                    <a href="/noticia5">Ir para a notícia</a>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://veja.abril.com.br/wp-content/uploads/2020/05/gettyimages-1038295900.jpg?quality=70&strip=info&resize=680,453" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">Livros autopublicados no Brasil batem 200 mil títulos na Amazon.</p>
                    <a href="/noticia6">Ir para a notícia</a>
                </div>
            </div>
        </div>
    </div>
  
  <div class="row">
   <a href="/" class="btn btn-outline-secondary">Voltar a página inicial</a>
  </div>

		<div class="row mt-4" style="background-color: #DAA520;">
			<footer class="text-center">
				INFO 4B IFMS 2021 - Nenhum direito reservado
			</footer>
		</div>
	</div>
</body>

</html>