<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/estilo.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>Site de Notícias</title>
</head>

<body>
	<div id="container" style="background-color: #D2B48C;">
		<header class="row text-center">
			<div style="background-color: #DAA520;">
				<h1>Notícias.com</h1>
				<p class="lead">O melhor site de notícias da região!!</p>
			</div>
		</header>
  
 <div class="row text-center p-5">
				<h1 class="mt-1">Mercado de livros cresce quase 40% e fatura R$ 1,3 bi desde início do ano</h1>
        <small class="text-muted">Segundo nova pesquisa da Nielsen e de sindicato do setor foram vendidos 31,79 milhões de exemplares entre janeiro e agosto deste ano </small> 

        <h6 class="mt-4">Por Tamara Nassif Atualizado em 10 set 2021, 17h26 - Publicado em 10 set 2021, 15h10</h6>

        <div class="h-100 mt-4">
            <img src="https://veja.abril.com.br/wp-content/uploads/2021/04/megafauna.jpg?quality=70&strip=info&resize=680,453" class="img-top">
        </div>

				<p class="text-center mt-4">Desde que a pandemia permitiu uma gradual reabertura do comércio, no segundo semestre do ano passado, o mercado livreiro tem andado em rota de crescimento. Segundo o 8º Painel do Varejo de Livros no Brasil, pesquisa feita em conjunto pela Nielsen BookScan e o Sindicato Nacional dos Editores de Livros (SNEL), divulgada nesta sexta-feira, 10, houve um salto de 38,2% no faturamento entre janeiro e agosto deste ano e o mesmo período de 2020. Isso significa que, do começo de 2021 até agora, houve uma movimentação de 1,34 bilhão de reais no setor, versus os 970,7 milhões de reais registrados no ano passado.</p>

        <p class="text-center mt-4">Em termos de volume, são 31,79 milhões de exemplares de livros vendidos, frente aos 22,01 milhões de 2020. A grande novidade, no entanto, diz respeito à diferença no faturamento de agosto de 2020 e no mesmo mês de 2021: é a primeira comparação que permite um vislumbre mais claro de como o setor vem se reerguendo do baque pandêmico. Houve um salto de 26% em vendas e 20% em volume na comparação do período. “É a primeira vez este ano que temos um aumento maior em valor do que em número de exemplares. Isso demonstra uma venda mais equilibrada comercialmente, com um maior mix de produtos nesse período, o que elevou o preço médio”, disse Marcos da Veiga Pereira, presidente do SNEL, em comunicado.</p>

        <p class="text-center mt-4">Até então, as bases comparativas analisavam períodos díspares: de março a julho de 2020, o mercado foi duramente afetado pelo fechamento de lojas físicas, enquanto o mesmo período de 2021 já refletia um cenário mais normalizado. “Com cenários de vendas menos distorcidos entre um ano e outro, passamos a observar um crescimento com variações menores do que as marcas dos últimos meses”, explica Ismael Borges, gestor da divisão Nielsen BookScan. Em números absolutos, o crescimento em vendas foi de 124,58 milhões de reais, em agosto do ano passado, para 157,15 milhões de reais neste ano.</p>

        <p class="text-center mt-4">Segundo a pesquisa, agosto foi impulsionado pelo Dia dos Pais e pela volta às aulas, embora tenha tido uma queda já esperada de 15% em faturamento em relação a julho. A explicação para tanto são os movimentos da gigante Amazon, que aqueceu – e muito – o mês de julho com ações comerciais e grandes promoções.</p>
  </div>

  <div class="row center p-2 m-5">
   <a href="/" class="btn btn-outline-secondary medio">Voltar a página inicial</a>
  </div>

  <div class="row center p-2 m-5">
   <a href="/listagem" class="btn btn-outline-secondary medio">Voltar a lista de notícias</a>
  </div>

		<div class="row mt-4" style="background-color: #DAA520;">
			<footer class="text-center">
				INFO 4B IFMS 2021 - Nenhum direito reservado
			</footer>
		</div>
	</div>
</body>

</html>