<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/estilo.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>Site de Notícias</title>
</head>

<body>
	<div id="container" style="background-color: #D2B48C;">
		<header class="row text-center">
			<div style="background-color: #DAA520;">
				<h1>Notícias.com</h1>
				<p class="lead">O melhor site de notícias da região!!</p>
			</div>
		</header>
  
 <div class="row text-center p-5">
				<h1 class="mt-1">Livros autopublicados no Brasil batem 200 mil títulos na Amazon</h1>
        <small class="text-muted">Ferramenta da empresa, usada por autores independentes, garante a publicação gratuita de livros em e-book sem o intermédio de uma editora</small> 

        <h6 class="mt-4">Por Amanda Capuano 20 ago 2021, 11h27</h6>

        <div class="h-100 mt-4">
            <img src="https://veja.abril.com.br/wp-content/uploads/2020/05/gettyimages-1038295900.jpg?quality=70&strip=info&resize=680,453" class="img-top">
        </div>

				<p class="text-center mt-4">Foi-se o tempo em que para publicar um livro era preciso bater de porta em porta com um original debaixo do braço, torcendo para que alguma editora se interessasse pelo material. Com o avanço dos e-books, a autopublicação emergiu como uma alternativa acessível e prática. Já popular, especialmente entre escritores aspirantes,  KDP (Kindle Direct Publishing), ferramenta de autopublicação da Amazon, atingiu recentemente a marca de 200.000 títulos disponíveis no país, conforme dado revelado em primeira mão à VEJA.</p>

        <p class="text-center mt-4">Para dar fôlego à ferramenta, a Amazon colocou no ar uma lojinha virtual dedicada a autores independentes e pequenas editoras — uma visibilidade muito bem-vinda em tempos de crise editorial. Até o dia 22 deste mês — período em que acontece a chamada book friday — parte das vendas da loja será revertida para a ONG Vaga Lume, que tem como missão levar a literatura até crianças de comunidades rurais da Amazônia através de bibliotecas comunitárias.</p>

        <p class="text-center mt-4">Popularizada junto com a ascensão dos livros digitais, a autopublicação não é uma tarefa difícil, mas exige certa cautela dos autores. Enquanto a publicação gratuita de ferramentas como o KDP, e até mesmo do Wattpad — uma espécie de rede social com livros de graça — é um atrativo e tanto, não ter o apoio de uma editora faz com que os escritores tenham que correr atrás de coisas como capa, revisão e divulgação por conta própria.</p>

        <p class="text-center mt-4">O detalhe não torna a opção menos atrativa, especialmente para aqueles que não encontram espaço nas editoras tradicionais. Além de receberem uma porcentagem pelos livros vendidos através do KDP, os autores também são remunerados pelas páginas lidas pelos assinantes do Kindle Unlimited — mais ou menos como os músicos, que recebem uma quantia por cada reprodução no streaming. 

Leia mais em: https://veja.abril.com.br/cultura/livros-autopublicados-no-brasil-batem-200-mil-titulos-na-amazon/

Leia mais em: https://veja.abril.com.br/cultura/livros-autopublicados-no-brasil-batem-200-mil-titulos-na-amazon/</p>

        <p class="text-center mt-4">Danielle Viegas Martins, uma das autoras de destaque na lojinha da Amazon, aderiu à autopublicação em 2017. “É surreal saber que meus livros possuem mais de 16 milhões de páginas lidas e que há pessoas do outro lado do mundo lendo o que escrevi”, aponta em sua página na plataforma. Outros nomes de destaque incluem a autora Marília Arnaud, vencedora da 5ª edição do Prêmio Kindle de Literatura com o thriller psicológico O Pássaro Secreto, e a editora 3DEA, que publica a duologia Os Roskells e a série Nobres em Fuga.</p>
  </div>

  <div class="row center p-2 m-5">
   <a href="/" class="btn btn-outline-secondary medio">Voltar a página inicial</a>
  </div>

  <div class="row center p-2 m-5">
   <a href="/listagem" class="btn btn-outline-secondary medio">Voltar a lista de notícias</a>
  </div>

		<div class="row mt-4" style="background-color: #DAA520;">
			<footer class="text-center">
				INFO 4B IFMS 2021 - Nenhum direito reservado
			</footer>
		</div>
	</div>
</body>

</html>