<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/estilo.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>Site de Notícias</title>
</head>

<body>
	<div id="container" style="background-color: #D2B48C;">
		<header class="row text-center">
			<div style="background-color: #DAA520;">
				<h1>Notícias.com</h1>
				<p class="lead">O melhor site de notícias da região!!</p>
			</div>
		</header>
  
 <div class="row text-center p-5">
				<h1 class="mt-1">Projeto na Mata Atlântica do Rio comemora nascimento raro</h1>
        <small class="text-muted">Programa de reflorestamento cria corredores verdes em áreas degradadas do interior</small> 

        <h6 class="mt-4">Por Lucas Vettorazzo Atualizado em 14 jul 2021, 18h24 - Publicado em 14 jul 2021, 17h30</h6>

        <div class="h-100 mt-4">
            <img src="https://veja.abril.com.br/wp-content/uploads/2016/05/mata-atlantica-vegetacao20070426-78-original3.jpeg?quality=70&strip=info&resize=680,453" class="img-top">
        </div>

				<p class="text-center mt-4">Pesquisadores do projeto Guapiaçu, que promove o reflorestamento de propriedades rurais em Cachoeiras de Macacu, interior do Rio, comemoraram o nascimento de um filhote de anta na região em que o mamífero esteve extinto por quase 100 anos.</p>

        <p class="text-center mt-4">Em 2018, pesquisadores introduziram um casal de antas adultas na área que passa por recuperação da Mata Atlântica desde 2013, em iniciativa patrocinada pela Petrobras e pelo Governo Federal.</p>

        <p class="text-center mt-4">Segundo os biólogos ligados ao Refauna, projeto responsável por introduzir os bichos na área reflorestada, as antas sumiram da região justamente por conta do desmatamento e da caça predatória.</p>

        <p class="text-center mt-4">A volta dos bichos é parte importante do trabalho de reflorestamento na reserva porque as antas são conhecidas por serem boas dispersoras de sementes de frutas e outras plantas.</p>

        <p class="text-center mt-4">No mês passado, os técnicos flagraram pelas armadilhas fotográficas o filhote do casal de antas chamadas Flora e Júpiter. A ideia é introduzir ainda este ano mais três mamíferos na reserva.</p>
  </div>

  <div class="row center p-2 m-5">
   <a href="/" class="btn btn-outline-secondary medio">Voltar a página inicial</a>
  </div>

  <div class="row center p-2 m-5">
   <a href="/listagem" class="btn btn-outline-secondary medio">Voltar a lista de notícias</a>
  </div>

		<div class="row mt-4" style="background-color: #DAA520;">
			<footer class="text-center">
				INFO 4B IFMS 2021 - Nenhum direito reservado
			</footer>
		</div>
	</div>
</body>

</html>