<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/estilo.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>Site de Notícias</title>
</head>

<body>
	<div id="container" style="background-color: #D2B48C;">
		<header class="row text-center">
			<div style="background-color: #DAA520;">
				<h1>Notícias.com</h1>
				<p class="lead">O melhor site de notícias da região!!</p>
			</div>
		</header>
  
 <div class="row text-center p-5">
				<h1 class="mt-1">Pesquisa mostra desafios para uma economia dos oceanos sustentável</h1>
        <small class="text-muted">Para especialistas, investir em iniciativas de descarbonização dos transportes marítimos é um dos caminhos para fortalecer a economia marinha</small> 

        <h6 class="mt-4">Por Nathan Fernandes Atualizado em 29 jun 2021, 17h52 - Publicado em 16 jun 2021, 10h52</h6>

        <div class="h-100 mt-4">
            <img src="https://veja.abril.com.br/wp-content/uploads/2019/05/great-barrier-reef-australia-5.jpg.jpg?quality=70&strip=info&resize=680,453" class="img-top">
        </div>

				<p class="text-center mt-4">A economia dos oceanos, que abrange atividades que vão de pesca e navegação a turismo e biotecnologia marinha, deve alcançar um valor estimado em US$ 3 trilhões, de acordo com uma estimativa feita, antes da pandemia, pela Organização para a Cooperação e Desenvolvimento Econômico, uma organização econômica intergovernamental sediada na França. A quantia representa o dobro do valor estimado em 2010, quando alcançava US$ 1,5 trilhão.</p>

        <p class="text-center mt-4">Apesar do rápido crescimento econômico, pesquisadores da Universidade British Columbia, no Canadá, apontaram as principais barreiras para o desenvolvimento sustentável do setor. Segundo o relatório divulgado no último dia 8 de junho, Dia Mundial dos Oceanos, será preciso um esforço como o do Acordo de Paris para que os investimentos na área sejam alinhados com a saúde dos mares.</p>

        <p class="text-center mt-4">“Uma economia dos oceanos sustentável requer ecossistemas marinhos saudáveis ​​e resilientes, os quais estão sendo severamente ameaçados por pressões antropogênicas e climáticas”, apontou o primeiro autor do estudo, Rashid Sumaila, professor do Instituto de Oceanos e Pescarias da Universidade British Columbia. “Existem muitas oportunidades para governos, instituições financeiras e outros participantes obterem ganhos financeiros neste tipo de economia sustentável — mas também existem muitas barreiras que precisam ser superadas.” </p>

        <p class="text-center mt-4">Os pesquisadores identificaram quatro principais barreiras a serem levadas em consideração: a fragilidade do setor em atrair investimentos sustentáveis; a insuficiência dos investimentos públicos e privados; a capacidade limitada dos atores em desenvolver projetos financeiramente atraentes; e o alto risco dos investimentos no setor.</p>

        <p class="text-center mt-4">Para a bióloga Janaína Bumbeer, especialista em conservação da biodiversidade da Fundação Grupo Boticário, é preciso acabar com a falsa dicotomia que contrapõe desenvolvimento econômico e proteção ambiental. “A economia verde já está muito bem estabelecida, mas a economia azul é algo que ainda está sendo internalizada, porque o oceano parece mais distante de grande parte da população”, disse.</p>

        <p class="text-center mt-4">Bumbeer citou o estudo “Soluções oceânicas que beneficiam as pessoas, a natureza e a economia” (Ocean Solutions That Benefit People, Nature and the Economy, em inglês), elaborado com o apoio do instituto de pesquisa WRI, que mostra a viabilidade dos investimentos sustentáveis na área. De acordo com o documento, o investimento de US$ 2,8 trilhões em iniciativas como descarbonização dos transportes marítimos e conservação e restauração dos manguezais podem render benefícios de US$ 15,5 trilhões até 2050.</p>

        <p class="text-center mt-4">“É possível fazer uma transição para uma economia azul, mas isso, de fato, exige muito esforço e planejamento, bem como um realinhamento dos incentivos e reformas profundas”, afirmou Bumbeer. Para isso, a tecnologia e o compartilhamento de informações sem fronteiras são fatores essenciais.</p>

        <p class="text-center mt-4">De acordo com a bióloga, é preciso ainda mudar a forma como contabilizamos o valor do oceano, considerando sua importância em mitigar as alterações climáticas e em balancear os ecossistemas, condições fundamentais para o desenvolvimento econômico. “Quando a gente entender que o oceano contribui para a economia, não só através do PIB, mas também de uma forma mais holística, vamos entender melhor o seu valor, o que refletirá nos investimentos e no seu uso sustentável”, disse.</p>
  </div>

  <div class="row center p-2 m-5">
   <a href="/" class="btn btn-outline-secondary medio">Voltar a página inicial</a>
  </div>

  <div class="row center p-2 m-5">
   <a href="/listagem" class="btn btn-outline-secondary medio">Voltar a lista de notícias</a>
  </div>

		<div class="row mt-4" style="background-color: #DAA520;">
			<footer class="text-center">
				INFO 4B IFMS 2021 - Nenhum direito reservado
			</footer>
		</div>
	</div>
</body>

</html>